.a {
    background-color: #aaa;
    text-align:center;
    padding: 1em;
    width: 500px;
}

.line {
    border: solid;
    border-bottom-color: green;
    margin-bottom: 10px;
}

.display {
    display: none;
}
